<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale = 1, width = device-width" />
    <title> Mit KI Casiono unsicher machen </title>
    <link rel="stylesheet" href="../static/css/main.css" type="text/css">
</head>
<br>
<br>
<h1> Mit AI Casino unsicher machen </h1>
<body>
    <br>
    <form id="form1" action="actions/" method="post">
        <div id="drop">
            <Select name=card_input_dealer1>
                <option disabled selected value="">DEALERS CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </select>
            
            <Select name=card_input1>
                <option disabled selected value="">YOUR FIRST CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input2>
                <option disabled selected value="">YOUR SECOND CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input3 id="hide_card3">
                <option disabled selected value="">YOUR THIRD CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input4 id="hide_card4">
                <option disabled selected value="">YOUR 4th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input5 id="hide_card5">
                <option disabled selected value="">YOUR 5th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input6 id="hide_card6">
                <option disabled selected value="">YOUR 6th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>

            </Select>
            <Select name=card_input7 id="hide_card7">
                <option disabled selected value="">YOUR 7th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input8 id="hide_card8">
                <option disabled selected value="">YOUR 8th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input9 id="hide_card9">
                <option disabled selected value="">YOUR 9th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input10 id="hide_card10">
                <option disabled selected value="">YOUR 10th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
            <Select name=card_input11 id="hide_card11">
                <option disabled selected value="">YOUR 11th CARD</option>
                <option value=11> Ace</option>
                <option value=10> King</option>
                <option value=10> Queen</option>
                <option value=10> Jack</option>
                <option value=10> 10</option>
                <option value=9> 9</option>
                <option value=8> 8</option>
                <option value=7> 7</option>
                <option value=6> 6</option>
                <option value=5> 5</option>
                <option value=4> 4</option>
                <option value=3> 3</option>
                <option value=2> 2</option>
            </Select>
        <style>
            #hide_card3 {
                display: none;
            }
            #hide_card4 {
                display: none;
            }
            #hide_card5 {
                display: none;
            }
            #hide_card6 {
                display: none;
            }
            #hide_card7 {
                display: none;
            }
            #hide_card8 {
                display: none;
            }
            #hide_card9 {
                display: none;
            }
            #hide_card10 {
                display: none;
            }
            #hide_card11{
                display: none;
            }
        </style>
        </div>

        <br>
        <label>CHANGE AMOUNT OF CARDS</label>
        <br>
        <Select name=amout_cards id="checkNumber" onchange="change_amount_cards()">
            <option selected value="2">2</option>
            <option value=3> 3</option>
            <option value=4> 4</option>
            <option value=5> 5</option>
            <option value=6> 6</option>
            <option value=7> 7</option>
            <option value=8> 8</option>
            <option value=9> 9</option>
            <option value=10> 10</option>
            <option value=11> 11</option>
        </Select>
        <script>
            function change_amount_cards() {
                var x = document.getElementById("checkNumber");
                var input3 = document.getElementById("hide_card3")
                var input4 = document.getElementById("hide_card4")
                var input5 = document.getElementById("hide_card5")
                var input6 = document.getElementById("hide_card6")
                var input7 = document.getElementById("hide_card7")
                var input8 = document.getElementById("hide_card8")
                var input9 = document.getElementById("hide_card9")
                var input10 = document.getElementById("hide_card10")
                var input11 = document.getElementById("hide_card11")
                
                switch (x.value) {
                    case "2":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "none";
                        break;
                    case "3":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        break;
                    case "4":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        break;
                    case "5":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";
                        
                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        break;
                    case "6":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        input6.style.display = "block";
                        break;
                    case "7":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        input6.style.display = "block";
                        input7.style.display = "block";
                        break;
                    case "8":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        input6.style.display = "block";
                        input7.style.display = "block";
                        input8.style.display = "block";
                        break;
                    case "9":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        input6.style.display = "block";
                        input7.style.display = "block";
                        input8.style.display = "block";
                        input9.style.display = "block";
                        break;
                    case "10":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        input6.style.display = "block";
                        input7.style.display = "block";
                        input8.style.display = "block";
                        input9.style.display = "block";
                        input10.style.display = "block";
                        break;
                    case "11":
                        input3.style.display = "none";
                        input4.style.display = "none";
                        input5.style.display = "none";
                        input6.style.display = "none";
                        input7.style.display = "none";
                        input8.style.display = "none";
                        input9.style.display = "none";
                        input10.style.display = "none";
                        input11.style.display = "none";

                        input3.style.display = "block";
                        input4.style.display = "block";
                        input5.style.display = "block";
                        input6.style.display = "block";
                        input7.style.display = "block";
                        input8.style.display = "block";
                        input9.style.display = "block";
                        input10.style.display = "block";
                        input11.style.display = "block";
                        break;
                    default:
                        document.getElementById("hide_card").style.display = "none";
                }
            }
        </script>
        <br>
        <input type="submit" value="enter" id="submit">
    </form>
</body>

</html>
